In [3]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
import matplotlib.pyplot as plt

In [5]:
train_df = pd.read_csv(r'./datasets/train.csv')

In [6]:
train_df.head()

,house_id,date,location,type,block,street,storey_range,area_sqm,flat_model,commence_date,price
0,199577,2006-09,Raleigh,5 ROOM,107D,Agawan Court,07 TO 09,110.0,D,2003,313000.0
1,217021,2007-06,Fresno,3 ROOM,678,Cleo St,07 TO 09,64.0,N,1988,167000.0
2,308062,2010-09,Tucson,4 ROOM,5,E Pleasant View Way,10 TO 12,92.0,K,1976,430000.0
3,212465,2007-04,Austin,4 ROOM,326,Park Hollow Ln,10 TO 12,92.0,K,1977,303800.0
4,60654,2001-10,Honolulu,4 ROOM,794,Ala Puawa Place,04 TO 06,102.0,G,1998,212000.0

In [7]:
train_df.describe()

            house_id       area_sqm  commence_date          price
count  271721.000000  271721.000000  271721.000000  271721.000000
mean   169785.994870      96.544832    1987.982942  281197.589537
std     98022.533902      25.587877       9.125141  112160.993184
min         1.000000      28.000000    1966.000000   28000.000000
25%     85021.000000      73.000000    1981.000000  195000.000000
50%    169739.000000      99.000000    1987.000000  263000.000000
75%    254609.000000     115.000000    1997.000000  350000.000000
max    339651.000000     280.000000    2010.000000  903000.000000

In [8]:
train_df.isnull().sum()

house_id         0
date             0
location         0
type             0
block            0
street           0
storey_range     0
area_sqm         0
flat_model       0
commence_date    0
price            0
dtype: int64

In [9]:
train_df.columns

Index(['house_id', 'date', 'location', 'type', 'block', 'street',
       'storey_range', 'area_sqm', 'flat_model', 'commence_date', 'price'],
      dtype='object')

In [10]:
train_df.dtypes

house_id           int64
date              object
location          object
type              object
block             object
street            object
storey_range      object
area_sqm         float64
flat_model        object
commence_date      int64
price            float64
dtype: object

In [11]:
train_df.iloc[1]

house_id           217021
date              2007-06
location           Fresno
type               3 ROOM
block                 678
street            Cleo St
storey_range     07 TO 09
area_sqm             64.0
flat_model              N
commence_date        1988
price            167000.0
Name: 1, dtype: object

In [23]:
print(len(train_df['block'].unique()))
print(len(train_df))
train_df['block']

1984
271721

0         107D
1          678
2            5
3          326
4          794
          ...
271716     483
271717     615
271718     390
271719     968
271720     341
Name: block, Length: 271721, dtype: object

In [24]:
train_df['street'].unique()

array(['Agawan Court  ', 'Cleo St', 'E Pleasant View Way',
       'Park Hollow Ln', 'Ala Puawa Place  ', 'Jay Ct', 'Bauman Ave',
       'Triple Glen Ct', 'Laredo Rd', 'High View Ter SE  ',
       'Toscana Street NW  ', 'North Manila Avenue', 'S Skokie St',
       'N Deer Court  ', 'Lillard Rd', 'Marcia Ln', 'Marshfield Drive',
       'Pegasus Drive NW  ', 'State Route 28  ', 'Palisades Point Cove',
       'Red Creek Ct', 'Kempton Dr', 'Catlett Street  ', 'Expo Pkwy',
       '50th Avenue NE  ', 'Hamlin Street  ',
       'Nw Tamiami Canal Dr - Miami International Airport (mia)',
       'W Fern Dr', 'Sedum Ln', 'San Mateo Ct', 'Sylvia Way',
       'US Highway 18  ', 'NE 112th Street  ', 'Kuekue Street  ',
       'Sea Island Trail', 'Wellington Road  ', 'Mohawk Dr', 'Ne 28th St',
       'Monthan Street  ', 'S 229th Street  ', 'Pacific Street  ',
       'NE 98th Street  ', 'Kolopua Street  ', 'E Maclaurin Dr',
       'Glenvue Drive', 'Waialae Avenue  ', 'Moltke Court  ',
       'Granite Street  ', 'Ahuwale Place  ', '28th St', 'Mad River Ct',
       'E Bellewood Pl', 'Stanley Street  ', 'Kempton Street  ',
       'Ohara Manor Drive', 'Carmelita Ave', 'Madeline Pl',
       'E Savannah Ave', 'Evelyn Ct', 'Penny St', 'W Dancing Rabbit Ct',
       'Mc Neill Street  ', 'W Arthur Avenue  ', 'Early Ave',
       'N Dresden Cir', 'Dennis Chavez Avenue  ', 'Old Palama Street  ',
       'Shepherd Road NW  ', 'Kalaunu Street  ', 'Tall Pine Dr',
       'Nuttall Dr', 'W Galena Street  ', 'Sabinas Ct', 'Se 11th St',
       'Castelon Ct', 'Morris Street  ', 'E Rogers St', 'Country Club Dr',
       'Pinnacle Ridge Rd', 'Teal Run Pl Ct', 'Arizona Ter NW  ',
       'Agena Ct', 'Cleveland St', 'Redcliff Dr', 'Benfold Circle  ',
       'S Yale', 'Kala Place  ', 'Lloyd Ln', 'Alabama Avenue SE  ',
       'Redwood Arbor Ln', 'York Beach Pl', 'N 93rd St',
       'Pawaina Place  ', 'East 117th Place', 'South Wabash Avenue',
       'Orange Cir Dr', 'Cole Creek Dr', 'S Taos Way', '12 Oaks Ct',
       'N 79th Ct', 'S 170th Lane  ', 'McKinley Square  ',
       'Alejandro Lane NW  ', 'Park Lane NW  ', 'Pharis Place  ',
       'Northpark Dr', 'Cole Creek Cir', 'Thistlecreek Ct',
       'Governors Row', 'Myrtle Vista Ave', 'Lafayette Avenue NE  ',
       'W Hadley Street  ', '6th St N',
       '64th Ave - Miami International Airport (mia)', 'Babbitt Ave',
       'Pali Highway  ', 'Benoit Place  ', 'Glover Court  ',
       'Las Flores Ct', 'Palmbrook Dr', 'Arlington Avenue  ',
       'Prestonlake Ct', 'Fitch Way', 'Equestrian Dr', 'Howison Pl SW  ',
       'Kiawe Place  ', 'Cobblewood Ct', 'Public Way', 'W Garden Cir',
       'N Omaha', 'E Hopseed Ln', 'Leman Place  ', 'W Lisbon Avenue  ',
       'Ohio Avenue  ', 'Luna Ladera Avenue SW  ', 'Album Street',
       'E Garfield Street  ', 'W Helena Court  ', 'W Gates Pass Blvd',
       'Stonleigh Pl', 'E Street NW  ', 'Carnation Ave',
       'Connecticut Avenue NW  ', 'Overlook Park Drive  ',
       '13th Street NW  ', 'E Golden Hills Way', 'Plymouth Colony Dr Ne',
       'Hyde Park Cir', '25th Ct N', 'Tarwood Way', 'Jupiter Hills Dr',
       'Arabis Ct', 'Glen Canyon Road NE  ', 'Rose Ln',
       'Chelan Avenue SW  ', 'Springdale Rd Sw', 'Florida St', 'Belt Way',
       'W 59th St', 'Blakes Ridge St', 'Kauhako Street  ', 'Montego Dr',
       'Bay Laurel Ct', 'Driftwood Dr', 'W 13th Street  ', 'Burlwood Dr',
       'Knowlton Avenue  ', 'Sea Breeze Ln', 'Sunridge St', 'S Gregg Ct',
       'S 92nd Street  ', 'W 210th Street  ', 'E Hope Avenue  ',
       'W Fond du Lac Avenue  ', 'Lancelot Loop', 'Vy Ln', 'Rockcreek Dr',
       'Interstate 43  ', 'Old Hixon Rd', 'Papillion Pkwy', 'Buford',
       'Odin Road  ', 'Riverlake Way', 'McCollough Ct NW  ',
       'Orleans Way', 'Atkin Rd', 'Michigan Avenue NE  ',
       'Granby Street  ', 'E Wood Ave', 'Air Cargo Road S  ',
       'Woodmere Dr', '9th Avenue S  ', 'Brentford Pl', 'Meadow Hill Ln',
       'Norfolk Pine St', 'Juniper Ct SE  ', 'Wesley Ave',
       'Smith Court  ', 'State Highway 181  ', 'Brownie Rd',
       'Angora Trail', 'Ala Uwila Place  ', 'Rio Cresta Way',
       'Rothbury Way', 'Norwood Bypass', 'South Street  ', 'S Dexter St',
       'Fairlawn Avenue SE  ', 'Chihuahua Avenue NE  ', 'Argonne Way  ',
       'Tara Rd', 'Goose Haven Ln', 'Westover Avenue SW  ',
       'E Clovis Ave', 'Arcola Way', 'Cantoria Ave', 'N Cheesebrush Ave',
       'S 101st Street  ', '15th Street NW  ', 'Sw 210th St',
       'Brandywine Pkwy', 'Nw 86th Ct', 'Arapahoe Pl W  ', 'Dream Ct',
       'Perry Street NE  ', 'Village Pond Ln', 'Sw 179th Pl', 'Petrel Ct',
       'Marin Ave', 'Konia Street  ', 'N 9th St', 'R  ', 'Hollandale Cir',
       'Commons Dr', 'Robertson Avenue', 'Franconia Drive  ',
       'Piimauna Street  ', 'Billy G Webb', 'Cedar Rail Road  ',
       '8th Street NE  ', 'Olive Avenue NW  ', 'Mauai Dr',
       'Copperfield Avenue', 'Twin Tulip Ct', 'Old Cedar Lake Rd',
       'Bridgehampton Pl', 'Engel Avenue  ', 'Belton Dr', 'Egret Chase',
       'Brown Road SW  ', 'Stark St', 'Wallis Pl', 'Morning Ct',
       'NW Golden Drive  ', 'N Sugarbush Pl', 'Summit Ave', 'Sandra Ln',
       'Blue Water Dr', 'S Teal Estates', 'Lancaster Park Ct', 'Tulip Ln',
       'Hanover Avenue  ', 'Alta Vista Ave', 'W 43rd Place  ',
       'Sw 147th Ln', 'Crowley Rogers Way  ', 'Wailupe Circle  ',
       'Fitzgerald Ct', 'Whittington Drive  ', 'S 152nd Ave',
       'W Beloit Road  ', 'Margaret Morrison Street', 'Neyland Way',
       'Tallow Dr', 'Rolleston Ct', 'Summer Trail Ct', 'Moomuku Place  ',
       'Harwood Ct', 'Cavern Brook Ct', 'E Dolphin Ave', 'Kansas St',
       '11th Ave', 'G St', 'E Abert Place  ', 'E Hamilton Pl',
       'Laurel Grove Rd', 'E Ananea Cir', 'S Wildwood Drive  ',
       'N Runway', 'Tennessee Ct', 'Blue Pearl Ct', 'Rockpointe Dr',
       'Cambridge Falls Dr', 'Dalhart Way', 'Snows Ct NW  ',
       'Unity Ave N', 'S 188th Street  ', 'Payton St', 'Chancery Ct NW  ',
       'Highlander Way', 'Pristine Dr', 'Bonelli Ct', 'Kings Dr',
       '87th Ave', '78th Ave', 'S Shore Cir', 'June Ct', 'Leeds Avenue  ',
       'Decoy Dr', 'Nectarine', 'S Marshall Way', 'NE 203rd Court  ',
       'Padova Ct', 'Van Mourik Ave', 'S 95th Cir', 'L Arbre Way',
       'Old Harlem', 'N 42nd Street  ', 'Stanley Avenue S  ', 'S Zuni St',
       'Le Blan Way', 'West 30th Street', 'Cambridge Square Ln',
       'S 196th Street  ', 'Silent Dr', '35th Ave Ne', 'Pulaa Lane  ',
       'Westador Dr S', 'Cascade Drive  ', 'North Pier Court',
       'Flag Ct N', 'Campbell St', 'Maidenstone Dr', 'S Frink Place  ',
       'Sw 16th Terrace', 'Thomson Place  ', 'Calbira Ave',
       'Holly Circle  ', "Piper's Pali  ", 'W Plaza Dr', 'E Galinda Dr',
       'Hawane Place  ', 'Crescent Ct', 'Golden Ct', '16th Street  ',
       'S Bay Avenue  ', 'Pyracantha Dr', '17th Avenue S  ',
       'E Conover St', 'Doreen Ave', 'Splitbranch Ln', 'Sw 102nd Ln',
       'Chanute Pl SW  ', 'Buckley Ct', 'S 167th Cir', 'NE 66th Street  ',
       'Umalu Place  ', 'W Brantwood Court  ', 'Lerner Way',
       'State Highway 61  ', 'Gettysburg Ave N', 'Shelmar Ct',
       'New Jersey Avenue  ', 'Western Avenue NW  ', 'W 24th Ave',
       'Cloverdale St', 'Rebecca Ln', 'Ala Hinalo Street  ', 'Ogden St',
       'Stafford St Nw', 'N Pacific Street  ', 'Sherwood Cir',
       'W 37th St', 'West 45th Place', 'S 202nd Pl', 'Pilialo Street  ',
       'Shore Dr', 'E Mateo Cir', 'Seco Dr', 'W 47th St',
       '30th Avenue NW  ', 'W Tinna Pl', 'Whitis Ave', 'E Solina Ave',
       'W Martin Drive  ', 'Canal Road NW  ', 'Guadalajara Way',
       'Nw 5th Ave', 'Holly Dr', 'Maloelap Street  ',
       'West Montrose Drive', '11th Street SE  ', 'S 102nd Street  ',
       'Kemp Street  ', 'E Sierra Park Loop', 'S Santa Cruz Ln',
       'N 48th Ave', 'Sw 12th Terrace', 'Colvin Street  ',
       'Nw 113th Avenue Rd', 'N Loretta Dr', 'Magnolia Dale Dr',
       'Black Sea Rd', 'Woodley Road NW  ', 'Alii Road  ', 'Walden Dr',
       'Lasalla Rd', 'Smarty Jones Street SE  ', 'S The Fountain Mhp',
       'Cedar Brush Trail', 'Nebraska Avenue NW  ', 'E Ventana Ave',
       'Bimini Isle Ct', 'S Holly Park Drive  ', 'N Ranier Cir',
       'Calamondin Way  ', 'E 72nd St', 'E Alabama Pl', 'Gregg Ct',
       'Wales Avenue NE  ', 'W Water St', 'Wyman Ave',
       'Park Street Place  ', 'Apartment', 'S 104th St',
       '38th Street SE  ', 'N Jimson Ln', 'Amber St', "Gilligan's Way",
       '6th Pl NE  ', 'Southcliff Dr', '7th Pl NW  ', '27th Street SE  ',
       'Twin Oaks Dr', 'Nw 71st Terrace', 'Clear Sky Ct',
       '57th Street SE  ', '29th Pl NW  ', '5th Ave', 'Bushey Street  ',
       'Cypher Street  ', 'Fairmont Street NW  ', 'N Kachina Cir',
       'Montoro Dr', 'Maple Dr', 'E Saranac Ave', 'S Macdonald',
       'Avenue A', 'Winchester Dr', 'Miller Rd', 'Lyn-park Ln N',
       'N 123rd Plaza', 'E 5th Street  ', 'South Young Parkway',
       'W Tom Watson Dr', 'Mt Rainier St', 'E Hale Cir', 'Cedar Dr',
       'Foxboro Pl NW  ', 'Groff Ct NE  ', 'Bothne Court  ', 'E Napa Pl',
       'S Zinnia', 'Rock Garden Pl', 'Black St', 'Florida Avenue NE  ',
       'Grant Street  ', 'Bates Road NE  ', 'Lakeport Cir', 'S 169th St',
       '46th Street NW  ', 'S 8th Ave Pl', 'Kiana Ln', 'Pimlico Road  ',
       'Mussett St', 'Turnpike Rd', 'Fairhill Ct', 'S Sorrelle',
       'Ahamele Place  ', 'N Pad', 'Baywind Ct', 'W Maple Street  ',
       'Chillum Pl NW  ', 'E Greenway Cir', 'S Valle Verde Cir',
       'W Keeler St', 'N 40th Place  ', 'Tambor Pl', 'Bell Air Dr',
       'W Kiowa Cir', 'Marie Pl', 'Timber Line Dr', 'Atascosa Dr',
       'E 117th Ct', 'N Old Ranch House Rd', 'W Jade St',
       'Sagacity Drive  ', 'E Pampa Ave', 'Ferrell Woods Lane  ',
       'Alaskan Way  ', 'Glynview Ct NW  ', 'Foxhall Road NW  ',
       'S Spring Beauty Way', 'Santa Monica', 'Holiday View St',
       'S Sorrel Ln', 'Porter Way', 'W 80th St Cir', 'E Calypso Cir',
       'University Pl NW  ', 'N Cll Largo', 'Holly Ter S  ',
       'V Street NE  ', 'W Pear Tree', 'H Street NW  ',
       'Panicum Road NW  ', 'Lullwater Park Way', 'Palisades Dr',
       'Sw 3rd St', 'Wade Pl', 'Marvin Place  ', 'Dakota Rd'],
      dtype=object)